# --- OS & IDE ---
.DS_Store
.vscode/
.idea/
*.swp

# --- Terraform ---
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
!example.tfvars
crash.log
images/*

# --- Ansible ---
*.retry
*.pem
*.key
ansible_collections/

# --- Application ---
.env
!env.example

# --- Logs & Temp ---
*.log
tmp/
