# ansible.cfg
[defaults]
inventory = inventory.ini
host_key_checking = False
remote_user = debian
stdout_callback = yaml

[ssh_connection]
# Force Ansible use host ssh config (for ProxyJump)
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True